<template id="Main">
	<table id="tbl_search_refiner" cellpadding="2" cellspacing="0" border="0" width="100%">
		<tr>
			<td colspan="3">
				PEC Search for messages with "z-pec" 
			</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<b>Sender:</b>
			</td>
			<td>
				<b>Receiver:</b>
			</td>
			<td>
				<b>Subject:</b>
			</td>
		 </tr>
	</table>
</template>
